@tailwind base;
@tailwind components;
@tailwind utilities;

.h1 {
  font-weight: 300;
  font-size: 6rem;
  line-height: 1;
  letter-spacing: -1.5px;
}

.h2 {
  font-weight: 300;
  font-size: 4rem;
  line-height: 1;
  letter-spacing: -0.5px;
}

.h3 {
  font-weight: normal;
  font-size: 2.625rem;
  line-height: 1;
}

.h4 {
  font-weight: normal;
  font-size: 2.125rem;
  line-height: 1;
  letter-spacing: 0.25px;
}

.h5 {
  font-weight: normal;
  font-size: 1.625rem;
  line-height: 1;
}

.h6 {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1;
  letter-spacing: 0.15px;
}

.pretitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.1px;
}

.subtitle {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 0.15px;
}

.strong {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: 0.5px;
}

.em {
  font-style: italic;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: 0.5px;
}

.body {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: 0.5px;
}

.button {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 0.5px;
}

.textfield-icon {
  @apply absolute z-10 justify-center items-center py-2 w-4 h-4 text-base font-normal leading-snug text-center bg-transparent rounded;
}

.textfield {
  @apply flex relative flex-wrap items-stretch p-1 mb-2 w-full text-gray-500 focus-within:text-brand-black dark:focus-within:text-brand-white duration-200 transform;
}

.textfield-input {
  @apply relative border transition duration-200 bg-brand-white dark:bg-brand-black border-gray-500 focus:border-brand-black dark:focus:border-brand-white focus:outline-none text-brand-black dark:text-brand-white rounded w-full;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
